<app-grafico></app-grafico>

<h5 class="card-title mb-0">Valores de los ultimos 7 dias</h5>
<table>
  <thead>
    <tr>
      <td>Sucursal</td>
      <td>Sector</td>
      <td>Fecha</td>
      <td>Cantidad Turnos</td>
      <td>Conexiones App</td>
      <td>Porcentaje</td>
    </tr>
  </thead>
  <tbody *ngIf="dataTabla.length > 0">
    <tr *ngFor="let data of dataTabla; index as i; first as isFirst">
      <td>Alto Verde</td>
      <td>{{ data.sector }}</td>
      <td>{{ data.fecha }}</td>
      <td>{{ data.turnos }}</td>
      <td>{{ data.usuarios }}</td>
      <td>{{ data.porcentaje }}</td>
    </tr>
  </tbody>
</table>
<div class="card-header">
  <button class="btn btn-dark float-end" (click)="download()">
    Generar Archivo CSV
  </button>
</div>
<a href="" id="a" #svgDownload></a>

